@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* HEADER START */

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
}
/* trying to lock the top of the header in place such that scrolling will keep it fixed at the top, without the rest of the header description to stick.
#header-freeze {
    position: fixed;
    top: 0px;
}
*/
.header-top-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.header-title {
    color: #f9faf8;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}

.header-logo {
    max-height: 72px;
    margin: 8px 16px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    color: #f9faf8;
    margin: 16px;
}

.header-summary {
    display: flex;
}

.header-summary-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin: 16px;
}

.header-summary-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-summary-description {
    color: #e5e7eb;
    font-size: 18px;
}

.header-image { /* need to work on the auto sizing upon window shaping */
    max-height: 250px;
    overflow: auto;
    margin: 8px;
    flex-shrink: 0;
    justify-content: flex-end;
}

/* HEADER END */
/* CONTENT START */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    font-size: 18px;
}

.content-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 16px;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 96px;
}

.destination-name {
    display: flex;
    justify-content: center;
}

.destination-image {
    max-height: 150px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 72px 144px;
}

.quote-item {
    padding: 0px;
}

.quote-author {
    padding: 4px 16px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-bottom: 36px;
}

.page-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto;
}

.content-section-title {
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    margin: 16px;
}


/* CONTENT END */

ul {
    list-style-type: none;
    gap: 24px;
}

a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #1f2937;
}

a:hover {
    color: #ff9900;
}

button {
    font-family: Roboto, sans-serif;
    color: #1f2937;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: white;
}